<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Reiseplan PoC{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>

  <main class="page-with-sidebar">

    {# Sidebar wird nur gerendert, wenn der Block definiert ist #}
    {% block sidebar %}
    {% endblock %}

    <div class="page-main">
      {% block content %}
      <!-- Seiteninhalt -->
      {% endblock %}
    </div>

  </main>

</body>
</html>
